<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">{{title}}</a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Source</a>
    </li>
  </ul>
  <ul class="nav navbar-nav pull-xs-right">
    <li *ngIf="user" class="nav-item">
      <img class="user-icon" [src]="getUserImage()"/>
    </li>
    <li *ngIf="user" class="nav-item">
      <a class="nav-link" href="#">{{ user.display_name }}</a>
    </li>
    <li *ngIf="token" class="nav-item">
      <a class="nav-link" href="#" (click)="goLogout()">
        <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
      </a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
<div class="text-center" *ngIf="!token">
  <img src="http://25.media.tumblr.com/tumblr_mdtzgsKeaT1rlzw9do1_500.gif" />
  <button  class="btn btn-success"  (click)="goLogin()">
    Log to spotify
  </button>
</div>
<div class="row" *ngIf="token">
  <div class="col-md-2" *ngFor="let track of topTracks.items">
    <my-track [track]="track"></my-track>
  </div>
</div>
</div>
